{% extends 'myadmin/public/base.html' %}
{% load static %}


{% block content %}

    <div class="right_col" role="main">
          <div class="">
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>评论列表<small></small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="row">
                      <div class="col-sm-3 mail_list_column">
{#                        <button id="compose" class="btn btn-sm btn-success btn-block" type="button">COMPOSE</button>#}
                          {% for comment in comments %}

                        <a href="javascript:void(0)" class="check-comment" id="{{ comment.id }}">
                          <div class="mail_list">
                            <div class="left">
                              <i class="fa {% if comment.replied %}fa-circle-o{% else %} fa-circle{% endif %}"></i>
                            </div>
                            <div class="right">
                              <h3>{{ comment.commentator }} <small>{{ comment.create_time |date:"Y-m-d H:i:s" }}</small></h3>
                              <p>{{ comment.body|truncatewords:1 }}...</p>
                                <input type="hidden" class="comment-reply-url" value="{% url 'myadmin:reply_comment' pk=comment.pk %}">
                                <input type="hidden" class="comment-commentator" value="{{ comment.commentator }}">
                                <input type="hidden" class="comment-date" value="{{ comment.create_time |date:"Y-m-d H:i:s" }}">
                                <input type="hidden" class="comment-content" value="{{ comment.body }}">
                            </div>
                          </div>
                        </a>
                           {% endfor %}
                      </div>
                      <!-- /MAIL LIST -->
                      <!-- CONTENT MAIL -->
                      <div class="col-sm-9 mail_view">
                        <div class="inbox-body">
                          <div class="mail_heading row">
                            <div class="col-md-8">
                              <div class="btn-group">
                                <button class="btn btn-sm btn-primary reply-button" type="button" data-url=""><i class="fa fa-reply"></i> Reply</button>
                                <button class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Trash"><i class="fa fa-trash-o"></i></button>
                              </div>
                            </div>
                            <div class="col-md-4 text-right">
                              <p class="comment-content date"> 8:02 PM 12 FEB 2014</p>
                            </div>
                          </div>
                          <div class="sender-info">
                            <div class="row">
                              <div class="col-md-12">
                                <h3><span class="content-commentator">Jon Doe</span></h3>
                              </div>
                            </div>
                          </div>
                          <div class="view-mail">
                            <p class="comment-content body"></p>
                          </div>
                        </div>
                      </div>
                      <!-- /CONTENT MAIL -->
                      {% include 'public/pagination.html' %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    <div class="compose col-md-6 col-xs-12">
<div class="compose-header">
    <span>Reply to comment</span>
<button type="button" class="close compose-close">
  <span>×</span>
</button>
</div>

<div class="compose-body">
    <textarea name="" id="reply_comment" style="min-width: 500px; min-height: 200px"></textarea>
</div>

<div class="compose-footer">
<button id="send" class="btn btn-sm btn-primary" type="button">Send</button>
</div>
</div>
{% endblock %}

{% block javascript %}
<script>
    function reply (url, data) {
        $.ajax({
            url: url,
            type: 'POST',
            data: data,
            dataType: 'JSON',
            success: function(res){
                if (res.code === 200) {
                    new PNotify({
                        title: '已回复',
                        text: '回复成功',
                        type: 'success',
                        hide: true,
                        delay: 2000,
                        styling: 'bootstrap3'
                    });
                    $('.compose').hide()
                    setTimeout(function(){ window.location.reload();},2000)
                } else {
                    new PNotify({
                        title: '出错',
                        text: '某个环节出错',
                        type: 'error',
                        hide: true,
                        delay: 2000,
                        styling: 'bootstrap3'
                    });
                }
            }
        })
    }

    function del(url){
        $.ajax({
            url: url,
            type: 'DELETE',
            dataType: 'JSON',
            success: function(res){
                if (res.code === 200) {
                    new PNotify({
                        title: '已删除',
                        text: '删除成功',
                        type: 'success',
                        hide: true,
                        delay: 2000,
                        styling: 'bootstrap3'
                    });
                     $('#' + res.pk).remove();
                     $('.bs-modal-sm-delete').modal('hide');
                } else {
                    new PNotify({
                        title: '出错',
                        text: '某个环节出错',
                        type: 'error',
                        hide: true,
                        delay: 2000,
                        styling: 'bootstrap3'
                    });
                }
            }
        })
    }


    function showComment(commentObj){
        let view = $('.mail_view')
        view.find('.content-commentator').text(commentObj.find('.comment-commentator').val());
        view.find('.comment-content.date').text(commentObj.find('.comment-date').val());
        view.find('.comment-content.body').text(commentObj.find('.comment-content').val());
        view.find('.reply-button').data('url', commentObj.find('.comment-reply-url').val());
    }

    $('.check-comment').on('click', function(){
        showComment($(this));
    });

    $('.reply-button').on('click', function(){
        $('.compose').show()
    });

    $('#send').on('click', function(){
        reply($('.reply-button').data('url'), { body: $('#reply_comment').val().trim() })
        $('.compose').hide()
    });

    $(function(){
        let defaultComment = $('.mail_list').eq(0)
        showComment(defaultComment);
    })

</script>




{% endblock %}