{% load static %}
<div class="panel panel-default" id="friend-link-logo">
    <div class="panel-heading">
        <span>一些链接</span>
    </div>
    <div class="panel-body">
        <div class="cell row">
            <a target="_blank" href="https://t.ti-node.com/">
                <span>陈皓</span>
            </a>
        </div>
        <div class="cell row">
            <a target="_blank" href="http://mindhacks.cn/">
                <span>刘未鹏</span>
            </a>
        </div>
        <div class="cell row">
            <a target="_blank" href="https://meditic.com/game-of-wild-beast">
                <span>野兽派游戏</span>
            </a>
        </div>
        <div class="cell row">
            <a target="_blank" href="https://www.kawabangga.com/">
                <span>卡瓦邦噶！</span>
            </a>
        </div>
        <div class="cell row">
            <a target="_blank" href="https://www.ububs.com/">
                <span>忘记带音响的鸠摩智</span>
            </a>
        </div>
        <div class="cell row">
            <a target="_blank" href="http://www.mykurol.com/">
                <span>谢育政</span>
            </a>
        </div>
        <div class="cell row">
            <a target="_blank" href="https://www.qiehe.net/">
                <span>茄盒</span>
            </a>
        </div>
        <div class="cell row">
            <a target="_blank" href="https://learnku.com/laravel">
                <span>Laravel中国</span>
            </a>
        </div>
        <div class="cell row">
            <a target="_blank" href="https://t.ti-node.com/">
                <span>TiNode社区</span>
            </a>
        </div>
    </div>
</div>