{% load static %}
<div class="panel panel-default" id="friend-link-logo">
    <div class="panel-heading">
        <span>友情链接</span>
    </div>
    <div class="panel-body">
        <div class="cell row">
            <a target="_blank" href="https://codeigniter.org.cn/">
                <img src="{% static 'img/luxun.jpeg' %}" alt="" class="img-responsive" style="height:20%">
            </a>
        </div>
        <div class="cell row">
            <a target="_blank" href="https://laravel-china.org/">
                <img src="{% static 'img/luxun.jpeg' %}" alt="" class="img-responsive">
            </a>
        </div>
    </div>
</div>