{% extends 'public/base.html' %}

{% block title %} blog title {% endblock %}

{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>My blog</h1>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-8">
            <ul>
                {% for blog in blogs %}
                    <a href="{% url 'blog:blog_detail' article_id=blog.id %}"><li>{{ blog.title }}</li></a>
                {% endfor %}
            </ul>
        </div>
    <div class="col-xs-6 col-md-4">
        <h2>广告</h2>
        <p>跟我学Django</p>
    </div>
    </div>


{% endblock %}