{% load static %}
<!-- start of footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <!--<div class="col-xs-12 first">
                <span class="yaf">
                  程式由 <img src="{% static 'img/yaf_logo.jpg' %}"> 驱动
                </span>
                <span class="https">
                  CA由 <img src="{% static 'img/letsencrypt_logo.png' %}"> 提供
                </span>
                <span class="mysql">
                  数据库由 <img src="{% static 'img/mysql_logo.png' %}"> 驱动
                </span>
                <span class="redis">
                  缓存由 <img src="{% static 'img/redis_logo.png' %}"> 驱动
                </span>
                <span class="nginx">
                  HTTP由 <img src="{% static 'img/nginx_logo.png' %}"> 驱动
                </span>
            </div>
            <div class="col-xs-12 second">
                <span class="ubuntu">
                  OS由 <img style="height:16px;" src="{% static 'img/ubuntu_logo.png' %}"> 驱动
                </span>
                <span class="rank-list"><a href="https://t.ti-node.com/thread#">排行榜</a></span>
            </div>-->
            <div class="col-xs-12 text-center third">
                <a href="/">Fogg - Just code it & keep coding</a>
            </div>
        </div>
    </div>
</footer>
<!-- end of footer -->


<!-- 全局通知栏 -->
<div id="common-tip"></div>